---
import ArrowDownIcon from "../../../assets/icons/arrow-down-icon.svg";
import ArrowUpIcon from "../../../assets/icons/arrow-up-icon.svg";
import TagContent from "../elements/TagContent.astro";
import AlertContent from "../elements/AlertContent.astro";
import ListContent from "../elements/ListContent.astro";
import StepsContainer from "../components/StepsContainer.astro";
import type { DownloadAppItem } from '../../../data/download-app-questions.ts';

const { questions } = Astro.props;
---

<style>
    .accordion-download-app {
        border-bottom: 1px solid var(--background-02);
        cursor: pointer;
    }

    .accordion-download-app:last-child {
        border: none;
        cursor: pointer;
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        user-select: none;
    }

    .accordion-header .title {
        display: flex;
        align-items: center;
        gap: 16px;

        font-family: Satoshi;
        color: var(--base-white);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        
        color: var(--base-grey);
        font-family: Satoshi;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .accordion-download-app.active .accordion-header .title {
        color: transparent;
        text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.32);
        background: linear-gradient(90deg, #E90063 0%, #FF8820 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<div id="accordion-container-download-app">
  {
    questions.map(({ question, answer, icon: Icon}: DownloadAppItem, index: number) => (
        <div class="accordion-download-app">
            <div class="accordion-header" data-index={index}>
                <h5 class="title">
                    { Icon && <Icon /> }
                    {question}
                </h5>
                <img 
                    src={ArrowDownIcon.src} 
                    class="toggle-icon" 
                    alt="Open/Closed Icon" 
                    data-open={ArrowDownIcon.src}
                    data-close={ArrowUpIcon.src}
                />
            </div>
            <div class="accordion-content">
                {
                    answer.map((item) => {
                        if (item.type === 'steps') return <StepsContainer steps={item.values} />
                        if (item.type === 'tag') return <TagContent tag={item.value} customClass="!mt-1 !mb-4 !text-white" />
                        if (item.type === 'list' && item.values) return <ListContent items={item.values} customClass="!mb-6" />
                        if (item.type === 'warning') return <AlertContent alert={item.value} customClass="!mb-6" />
                        return null
                    })
                }
            </div>
        </div>
    ))
  }
</div>


<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const accordions = document.querySelectorAll(".accordion-download-app");

        accordions.forEach((accordion) => {
            const header = accordion.querySelector(".accordion-header");
            const content = accordion.querySelector(".accordion-content");
            const icon = accordion.querySelector(".toggle-icon");

            header.addEventListener("click", () => {
                const isActive = accordion.classList.contains("active");

                // Cerrar todos los acordeones antes de abrir el seleccionado
                accordions.forEach((acc) => {
                    acc.classList.remove("active");
                    acc.querySelector(".accordion-content").style.maxHeight = "0px";
                    acc.querySelector(".toggle-icon").src = acc.querySelector(".toggle-icon").dataset.open;
                });

                // Si no estaba activo, abrirlo
                if (!isActive) {
                    accordion.classList.add("active");
                    content.style.maxHeight = content.scrollHeight + "px";
                    icon.src = icon.dataset.close;
                }
            });
        });
    });
</script>