---
import type { Step } from "../../../data/download-app-questions";
import AlertContent from "../elements/AlertContent.astro";
import ListContent from "../elements/ListContent.astro";
import TagContent from "../elements/TagContent.astro";
import TextContent from "../elements/TextContent.astro";


const { steps } = Astro.props;
console.log(steps[0].content[0].value);

---

<div class="relative pl-5.5 space-y-6">
    <div class="absolute h-full w-0.5 bg-[var(--background-02)]" />
    {steps.map((step: Step) => (
        <div class="relative flex items-start mb-4 last-of-type:border-l-2 last-of-type:border-[var(--background-01)]">
            <span 
                class="absolute -left-[21.5px] w-[43px] h-[43px] bg-[var(--background-02)] text-white flex items-center
                justify-center rounded-full text-sm font-bold">
                {step.number}
            </span>
            <div>
                {
                    step.content.map((item) => {
                        if (item.subtype === 'tag') return <TagContent tag={item.value} customClass="!my-0 !ms-[37.5px] !text-white" />
                        if (item.subtype === 'text') return <TextContent text={item.value} customClass="!my-2 !ms-10" />
                        if (item.subtype === 'warning') return <AlertContent alert={item.value} customClass="!my-2 !ms-10" />
                        if (item.subtype === 'list') return <ListContent items={item.values} customClass="!my-2 !ms-10" />
                    })
                }
            </div>
        </div>
    ))}
</div>