---
import { Image } from "astro:assets";
import BackgroundPieces from "../../assets/icons/pieces-icon.svg";
import MotionWrapper from "../ui/containers/MotionWrapper";
import { CARD_BANNERS } from "../../data/card-banners";
---

<section
  id="features"
  class="relative flex flex-col items-center gap-6 py-10 px-4 md:px-8 xl:px-[120px]"
>
  <div class="grid grid-cols-1 gap-6 w-full md:grid-cols-3">
    {
      CARD_BANNERS.map((banner) => (
        <MotionWrapper
          client:load
          animation="scale"
          type="spring"
          stiffness={250}
          damping={20}
          scale={1.2}
          viewportAmount={0.3}
          className="w-full"
        >
          <div
            aria-label={`Got to ${banner.title} Now`}
            style="border-left: 3px solid var(--color-primary-500); border-right: 3px solid var(--color-primary-500); box-shadow: 0 0 12px 0 rgba(203, 28, 192, 0.80);"
            class="relative grid justify-items-center items-center justify-center content-center
              w-full h-[291px] rounded-3xl overflow-hidden text-center px-6
              md:justify-center md:h-[369px] md:px-12"
          >
            <Image
              src={banner.image}
              alt={banner.seoAlt}
              class="absolute inset-0 w-full h-full object-cover object-[20%] -z-1"
            />
            <Image
              src={BackgroundPieces}
              alt=""
              aria-hidden="true"
              class="absolute inset-0 w-full h-full object-cover"
            />
            <div
              class="absolute inset-0"
              style="background: linear-gradient(180deg, rgba(203, 28, 192, 0.12) 0%, rgba(18, 0, 17, 0.12) 100%);"
            />
            <Image
              src={banner.icon}
              alt={`${banner.title} Icon`}
              class="w-10 h-10 mb-1 relative z-1"
            />
            <h4 class="relative z-1 font-semibold text-white text-[32px] leading-[120%] drop-shadow-[0px_0px_24px_rgba(255,255,255,0.40)] md:text-[40px] md:leading-[120%] pt-3">
              {banner.title}
            </h4>
            <p class="relative z-1 w-full max-w-[300px] font-normal text-white text-xl leading-[130%] md:max-w-[400px] pt-2">
              {banner.description}
            </p>
          </div>
        </MotionWrapper>
      ))
    }
  </div>

  <div
    data-radial="gradient-banner-cards-1"
    class="hidden absolute top-[148px] right-[82px] w-[150px] h-[150px] blur-[125px]
      bg-radial-[at_50%_50%] from-(--brand-pink) to-(--brand-pink) -z-1 md:block"
  >
  </div>
  <div
    data-radial="gradient-banner-cards-2"
    class="hidden absolute bottom-[136px] left-[121px] w-[150px] h-[150px] blur-[125px]
      bg-radial-[at_50%_50%] from-(--brand-orange) to-(--brand-orange) -z-1 md:block"
  >
  </div>
</section>
