---
import { Image } from "astro:assets";
import MacauScreenMobile from "../../assets/images/hero/screen-mobile.png";
import CheckIcon from "../../assets/icons/check-icon.svg";
import ArrowLeftIcon from "../../assets/icons/arrow-icon.svg";
import GradientBorderContainer from "../ui/components/GradientBorderContainer.astro";
import MarqueeHero from "../ui/components/MarqueeHero";
import { hero_cards } from "../../data/hero-cards";
import MotionWrapper from "../ui/containers/MotionWrapper";
import { CONTACT_LINKS } from "@/constants/contact";
import IconWhatsappFill from "@assets/icons/whatsapp-icon.svg";

const HERO_SHADOW_STYLES =
  "background: linear-gradient(270deg, rgba(24, 2, 25, 0.00) 0%, var(--background-01) 100%)";
const HERO_SHADOW_BOTTOM_STYLES =
  "background: linear-gradient(180deg, rgba(24, 2, 25, 0.00) 0%, var(--background-01) 100%)";

const isSelected = false;
---

<section>
  <MotionWrapper
    client:load
    animation="slideUp"
    type="tween"
    duration={1}
    ease="backOut"
    viewportAmount={0.2}
    className="flex flex-col mt-2 overflow-hidden xl:flex-row xl:gap-6 xl:justify-center xl:mt-0"
  >
    <div
      class="w-full max-w-[486px] mx-auto py-8 px-4 xl:px-0 xl:me-0 xl:py-[58px] xl:ms-[120px]"
    >
      <h1
        class="font-semibold text-center text-[46px] leading-[120%] drop-shadow-[0px_0px_12px_rgba(255,255,255,0.40)]
                md:text-[56px] md:leading-[120%] xl:text-start"
      >
        Epic games
        <br />
        and
        <span
          class="bg-linear-to-r from-white via-(--brand-orange) to-(--brand-pink) text-transparent bg-clip-text"
        >
          epic wins!
        </span>
      </h1>

      <h2
        class="font-semibold text-center text-lg leading-[150%] mt-6 xl:text-start xl:leading-[130%]"
      >
        Take your sweepstakes business to the next level with our
        state-of-the-art gaming platforms
      </h2>

      <ul
        class="grid justify-center gap-3 font-normal text-base leading-[130%] mt-10 xl:justify-start xl:mt-8"
      >
        <li class="flex items-center gap-3">
          <Image
            src={CheckIcon}
            alt="Check Icon"
            class="h-6 w-6"
            aria-hidden="true"
          />
          60+ games to choose from
        </li>
        <li class="flex items-center gap-3">
          <Image
            src={CheckIcon}
            alt="Check Icon"
            class="h-6 w-6"
            aria-hidden="true"
          />
          Secure transactions
        </li>
        <li class="flex items-center gap-3">
          <Image
            src={CheckIcon}
            alt="Check Icon"
            class="h-6 w-6"
            aria-hidden="true"
          />
          High quality games
        </li>
      </ul>

      <div
        class="flex flex-col gap-6 mt-10 xl:flex-row xl:items-center xl:mt-12"
      >
        <GradientBorderContainer
          background="linear-gradient(270deg, var(--brand-orange) 0%, var(--brand-pink) 100%)"
          class="rounded-full w-full cursor-pointer xl:w-fit"
          ><a
            target="_blank"
            aria-label="Chat with our support team now"
            class="flex justify-center items-center gap-[10px] rounded-full
          py-[14px] px-6 group overflow-hidden"
          >
            <span
              class="font-semibold text-lg drop-shadow-[0px_0px_12px_rgba(255,255,255,0.56)]
          transition-transform duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)]
          group-hover:translate-x-8"
            >
              View Fees
            </span>
            <Image
              src={ArrowLeftIcon}
              alt="Arrow Left Icon"
              aria-hidden="true"
              class="w-6 h-6 transition-transform duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)]
          group-hover:-translate-x-[105px]"
            />
          </a>
        </GradientBorderContainer>

        <GradientBorderContainer
          background={isSelected
            ? "linear-gradient(270deg, var(--brand-orange) 0%, var(--brand-pink) 100%)"
            : "transparent"}
          border={isSelected
            ? "transparent"
            : "linear-gradient(98.71deg, var(--brand-orange) -0.15%, var(--brand-pink) 99.85%)"}
          class="rounded-full w-full cursor-pointer overflow-hidden xl:w-fit"
          ><a
            href={CONTACT_LINKS.whatsapp}
            target="_blank"
            aria-label="Chat with our support team now"
            class="flex
          justify-center items-center gap-[10px] rounded-full py-[13px] px-6 group
          overflow-hidden"
          >
            <span
              class="font-semibold text-lg whitespace-nowrap drop-shadow-[0px_0px_12px_rgba(255,255,255,0.56)]
          transition-transform duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)]
          group-hover:translate-x-[30px]"
            >
              <span class="md:hidden lg:inline">Chat with us</span>
              <span class="hidden md:inline lg:hidden">Chat</span>
            </span>
            <Image
              src={IconWhatsappFill}
              alt="Whatsapp Icon"
              class="w-6 h-6 transition-transform duration-500 ease-[cubic-bezier(0.34,1.56,0.64,1)]
          group-hover:-translate-x-[125px]"
            />
          </a>
        </GradientBorderContainer>
      </div>
    </div>

    <div
      class="relative grid justify-center w-full max-w-dvw min-h-[420px] max mx-auto md:max-w-[810px]"
    >
      <div class="relative w-full max-w-dvw md:max-w-[810px]">
        <figure class="absolute bottom-0 left-1/2 -translate-x-1/2 z-2">
          <Image
            src={MacauScreenMobile}
            alt="Macau Casino"
            class={`w-[240px] h-[412px] object-contain object-bottom
                        xl:w-[300px] xl:h-[515px] xl:mt-[35px] z-1`}
          />
        </figure>

        <div class="relative top-1/2 -translate-y-1/2 z-1">
          <MarqueeHero client:only cards={hero_cards} />
        </div>

        <div
          class="absolute top-0 left-0 w-[48px] h-full z-2 md:w-[200px]"
          style={HERO_SHADOW_STYLES}
        >
        </div>
        <div
          class="absolute top-0 right-0 w-[48px] h-full z-2 rotate-180 md:w-[200px]"
          style={HERO_SHADOW_STYLES}
        >
        </div>
        <div
          class="absolute bottom-0 w-full h-[200px] z-2"
          style={HERO_SHADOW_BOTTOM_STYLES}
        >
        </div>
      </div>

      <div
        data-radial="gradient-mobile-screen"
        class="absolute top-[110px] left-1/2 -translate-x-1/2 w-[250px] h-[250px] blur-[90px]
                bg-radial-[at_50%_50%] from-(--brand-orange) from-30%
                to-(--brand-orange) to-100% z-0 md:top-1/2 md:-translate-y-1/2 md:blur-[125px]"
      >
      </div>
    </div>
  </MotionWrapper>
</section>
